:root {
  --vintage-main-color: #009499;
  --vintage-hover-color: #00676a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* .form-control {
  border: none;
} */
.form-control:focus {
  outline: 3px solid var(--vintage-main-color) !important;
}
.form-select:focus {
  border-color: none;
  outline: 3px solid var(--vintage-main-color) !important;
  /* box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); */
}
input:focus {
  border: none;
  outline: 3px solid var(--vintage-main-color) !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.font-main {
  font-family: "Inter", sans-serif;
}
.font-500 {
  font-weight: 500;
}
.font-400 {
  font-weight: 400;
}
.font-0a {
  color: #0a0a0a;
}
.font-61 {
  color: #616161;
}
.font-40 {
  color: #404040;
}
.font-75 {
  color: #757575;
}
.pointer {
  cursor: pointer;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--vintage-main-color);
  --bs-btn-border-color: var(--vintage-main-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--vintage-hover-color);
  --bs-btn-hover-border-color: var(--vintage-main-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--vintage-main-color);
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--vintage-main-color);
  --bs-btn-disabled-border-color: var(--vintage-main-color);
}
.btn-outline-primary {
  --bs-btn-color: var(--vintage-main-color);
  --bs-btn-border-color: var(--vintage-main-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--vintage-hover-color);
  --bs-btn-hover-border-color: var(--vintage-hover-color);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--vintage-main-color);
  --bs-btn-active-border-color: var(--vintage-main-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--vintage-main-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--vintage-main-color);
  --bs-gradient: none;
}
.btn-outline-danger {
  --bs-btn-color: #cb3a31;
  --bs-btn-border-color: #cb3a31;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #cb3a31;
  --bs-btn-hover-border-color: #cb3a31;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cb3a31;
  --bs-btn-active-border-color: #cb3a31;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #cb3a31;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #cb3a31;
  --bs-gradient: none;
}
